@model DogModel

<h1>Thanks for adopting this dog</h1>

<div>
    <p>You have adopted @Model.Name!</p>
    <p>Their favorit toy is @Model.FavToy!</p>
    <p>Their favorit food is @Model.FavFood</p>
    <p>From a scale from 1 to 10 in cutness they are a @Model.Cutness</p>
    <p>Their temprament is @Model.Temperment</p>
</div>

